extends ../layouts/default
include ../mixins/page-title
include ../mixins/separators

mixin post(post)
	.row
		.col-12
			.post
				if _.get(post, ['image', 'secure_url'])
					.image-wrapper
						img(src=_.get(post, ['image', 'secure_url']))
				.post-content
					a.title(href="#")= post.title
					p.date= post.humanReadablePublishedDate
					p.preview= post.content.brief
					
block content
	+page-title('Blog')
	#blog
		.content
			.container
				h1 See what Top of the Hill Orchard is up to
				h2 Filter what you'd like to hear about by clicking the categories below:
				.row
					.categories.col-sm-12
						.row.justify-content-center
							div.col-sm-2.category
								a(href="/blog") All
							each category in data.categories
								div.col-sm-2.category
									a(href='/blog/' + category.name)= category.name
				+separator(data.postSeparatorText)
				each post in data.posts
					+post(post)
				.row
					.col-12
						ul.pagination
							li.page-item(class=data.previousPageNumber ? "" : "disabled")
								a.page-link(href=`?page=${data.previousPageNumber}` aria-label="Previous")
									span(aria-hidden="true") &laquo;
									span.sr-only Previous
							each page in data.pageNumbers
								li.page-item(class=page.isActive ? "active" : "")
									a.page-link(href=`?page=${page.number}`)= page.number
							li.page-item(class=data.nextPageNumber ? "" : "disabled")
								a.page-link(href=`?page=${data.nextPageNumber}` aria-label="Next")
									span(aria-hidden="true") &raquo;
									span.sr-only Next
