extends ../layouts/default
include ../mixins/page-title
include ../mixins/separators

block content
	+page-title('Post')
	#post
		.content
			.container
				.row
					.col-12
						.back
							a(href="/blog") Return to blog
						.headings
							h1= data.post.title
							h2.date= data.post.humanReadablePublishedDate
			if _.get(data.post, ['image', 'secure_url'])
				.image-container
					img.background(src=_.get(data.post, ['image', 'secure_url']))
					.image-wrapper(style=`width: ${_.get(data.post, ['image', 'width'])};`)
						img(src=_.get(data.post, ['image', 'secure_url']))
			.container
				.row
					.col-12
						div.post-content!= data.post.content.extended
